.benefits-block {

  &__headline {
  text-align: center;
  }

  &__subtitle {
    margin-bottom: rem(50px);
    padding: 0 26%;

    @include tablets {
      padding: 0 18%;
    }

    @include phones {
      padding: 0 1%;
      margin-bottom: 0;
    }
  }
}