.dropdown {
  @include tablets {
    display: none;
  }
}

.dropdown__features {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: rem(91px);
  height: rem(91px);
  background: #3A587E;
  border-radius: rem(4px);
  margin-bottom: rem(52px);

  &:hover .dropdown__menu {
    left: rem(91px);
    opacity: 1;
  }
}

.dropdown__features-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.dropdown__icon-main {
  margin-bottom: rem(10px);
  width: rem(38px);
  height: 38px;
  color: #fff;
}

.dropdown__icon-text {
  text-transform: uppercase;
  font-size: rem(14px);
  font-weight: 700;
}

.dropdown__menu {
  width: rem(273px);
  overflow: hidden;
  position: absolute;
  background: #d5d5d5;
  border-radius: rem(4px);
  top: 0;
  padding: rem(28px);
  left: -9999px;
  opacity: 0;
  transition: opacity 0.3s;
}

.dropdown__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: rem(24px);
  color: #000;
  font-size: rem(16px);
  line-height: rem(24px);

  &:last-child {
    margin-bottom: 0;
  }
}

.dropdown__icon {
  &-length {
    width: rem(24px);
    height: rem(14.02px);
    margin-right: rem(16px);
  }

  &-width {
    width: rem(27px);
    height: rem(17.02px);
    margin-right: rem(14.6px);
  }

  &-thickness {
    width: rem(24px);
    height: rem(24px);
    margin-right: rem(16px);
  }

  &-lifetime {
    width: rem(18px);
    height: rem(24px);
    margin-right: rem(19px);
  }

  &-weight {
    width: rem(23.02px);
    height: rem(24px);
    margin-right: rem(17px);
  }
}

.dropdown__text {
  flex: 1;
  text-align: left;
  font-weight: 500;
}

.dropdown_param {
  text-align: right;
  font-weight: 400;
}