.header {
  display: flex;
  color: #fff;
  padding-top: rem(24px);
  margin-bottom: rem(140px);

  @include tablets {
    background-color: #1968B1;
    min-height: rem(92px);
    margin-bottom: 0;
  }

  &__container {
    margin: 0 auto;
    width: 95%;
    max-width: $containerWidth;
    display: flex;
    justify-content: space-between;
    align-items: center;

      @include tablets {
        padding: 0 rem(63px) rem(21px) rem(34px);
      }

      @include phones {
        padding: 0 rem(15px) rem(21px) rem(14px);
      }
  }
}