.social {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__item {
    margin-right: rem(14px);

    &:last-child {
      margin-right: 0;
    }
  }

  @include phones {
    padding-bottom: rem(20px);
  }
}

.vk, .fb, .ig, .tw {
  width: rem(20px);
  height: rem(20px);
  color: #B3B3B3;
  display: block;
  position: relative;

    @include hover {
      color:#292929;
      transition: 0.3s;
    }
}

