.team {
  @include tablets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: rem(180px) 0;
  }

  @include phones {
    padding: rem(115px) 0;
  }
}

.team__list {
  display: flex;
  justify-content: space-between;
  z-index: 2;

  @include tablets {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &--desktop {
      display: none;
    }
  }
 
  @include phones {
    &--desktop {
      display: none;
    }
  }

  &--mobile {
    display: none;

    @include tablets {
      display: flex;
    }

    @include phones {
      display: flex;
    }
  }
}

.team__item {
  flex: 1;
  text-align: center;
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    width: 100%;
    max-width: rem(222px);
    margin-right: 0;
  }
}

.team__photo {
  margin-bottom: rem(21px);

  @include phones {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.team__pic {
  max-width: 100%;
  display: block;

  @include phones {
    max-width: 62%;
  }
}

.team__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.team__name {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: rem(21px);
  font-weight: 700;
  margin-bottom: rem(8px);
  color: $darkGrey;
  background: transparent;
  border: none;
  margin-right: 4px;
  padding: 0;

  @include tablets {
    margin-bottom: rem(15px);
    color: #000;
  }

  @include phones {
    margin-bottom: rem(5px);
  }
}

.team__name--color {
  color: $darkGrey;
}

.team__button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.team__icon {
  align-self: flex-start;
  padding-top: rem(2px);
}

.team__icon-img {
  width: rem(9px);
  height: rem(9px);
  transition: transform 0.3s ease-out;

  @include tablets {
    color: $darkGrey;
  }
}

.team__icon-img--active {
  transform: rotate(180deg);
}

.team__content {
  overflow: hidden;
  height: 0;
  top: 100%;
  position: absolute;
  transition: height 0.3s;

  @include tablets {
    position: relative;
  }
}

.team__content-block {
  height: rem(300px);
  line-height: rem(18px);
  padding-left: rem(1px);
  padding-right: rem(1px);

  @include tablets {
    height: rem(405px);
  }

  @include phones {
    height: rem(290px);
  }
}

.team__position {
  margin-bottom: rem(5px);
  color: $darkGrey;
  font-weight: 400;
  line-height: rem(21.6px);

  @include tablets {
    margin-bottom: 0;
  }
}

.team__text {
  color: #666666;
  font-weight: 300;
  line-height: rem(21.6px);
}